header{
    width:100%;
}

body{
    font-family: "ff-enzo-web",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size:62.5%;
}

a{
    text-decoration:none;
    color:white;
}

h1{
    font-weight:300;
    font-size : 6.5rem;
    line-height : 7.2rem;
    letter-spacing : 1.625rem;
    color : #EE352A;
    padding-top:10%;
}

h2{
    font-weight:600;
    font-size:4.2rem;
    line-height:4.8rem;
    letter-spacing:1.05rem;
    color : #EE352A
}

h3{
    font-family: "ff-enzo-web", sans-serif;
    font-weight:300;
    font-style:normal;
    font-size : 2.2rem;
    line-height : 5rem;
    letter-spacing : 0.42px;
    color : #EE352A;
    
}

h4{
    font-family: "ff-enzo-web", sans-serif;
    font-weight:300;
    font-style:normal;
    font-size : 2.2rem;
    letter-spacing : 0.42px;
    color : #EE352A;
    padding:2rem 0;
    
}

a, p, span{
    font-size:1.3rem;
    line-height:3.3rem;
    letter-spacing:0.42px;
}

nav, .secondaryFont{
    font-size:1.7rem;
    line-height:3.3rem;
    letter-spacing:0.42px;
}

p{
    color:white;
}

#landing, #mapping, #about, footer{
    overflow:hidden;
    z-index:0;
}

#landing{
    border-top: 1em solid #EE352A;
    background-repeat:no-repeat;
    background-size:cover;
}

#intro{
    
}

#intro span{
    color:#666666;
    display:block;
}

#landing-base{
    position:relative;
    background:white;
    max-height:100%;
    width:100%;
    text-align:center;
    padding-bottom: 10%;
    
}

.button-1{
    border:1pt solid #EE352A;
    color: #EE352A;
    display:block;
    max-width:24rem;
    border-radius:2px;
    text-align:center;
    margin:1.5rem auto;
    -webkit-transition:all .4s ease-in;
    -moz-transition:all .4s ease-in;
    transition: all .4s ease-in;
}

.button-1:hover{
    background:#EE352A;
    color: white;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition:all .4s ease-out;
}

.button-2{
    
    border-bottom:1px solid #EE352A;
    color: #EE352A;
    display:inline-block;
    max-width:7rem;
    border-radius:2px;
    text-align:center;
    line-height:initial;
    width:7.5rem;
    padding:.3rem;
    margin: 0 .55rem;
    -webkit-transition:all .4s ease-in;
    -moz-transition:all .4s ease-in;
    transition:all .4s ease-in;
}

.button-2:hover{
    background:#EE352A;
    color:white;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition:all .4s ease-out;
}

.button-3{
    border:1pt solid #EE352A;
    color:#EE352A;
    display:inline-block;
    width:45%;
    border-radius:2px;
    text-align:center;
    margin:0 auto;
    -webkit-transition:all .4s ease-in;
    -moz-transition:all .4s ease-in;
    transition: all .4s ease-in;
}

.button-3:hover{
    background:#EE352A;
    color: white;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition:all .4s ease-out;
}

.login-sign{
    float:right;
    margin:0rem 1rem 0 0;
}

#mobile-app{
    position:absolute;
    float:left;
    top:0;
    margin:0 1%;
}

#mobile-app p{
    color:#EE352A;
}

#title{
    background:url(../images/cat.svg) no-repeat;
    height:9.5rem;
    width:9.5rem;
    margin:0 auto;
}

.product-logo{
    display:inline-block;
    height:2.375rem;
    width:2.375rem;
    position:relative;
    margin:0 1rem;
    -webkit-transition:all .3s ease;
}

.product-logo:hover{
    -webkit-transform:translateY(-10px);
    -webkit-transition: all .3s ease;
}

#apple{
    background:url(../images/apple-icon.svg) no-repeat;
}

#andy{
    background:url(../images/andy-icon.svg) no-repeat;
}

.image-link{
    display:block;
    height:100%;
    width:100%;
}

.separator{
    display:inline-block !important;
}

.separator:before, .separator:after{
    border-top:1px solid #666666;
    display:block;
    height:1px;
    content:" ";
    width:8rem;
    position:relative;
    left:-66%;
    top:1.8rem;
}

.separator:after{
    left:66%;
    top:-1.5rem;
}

#mapping,
#about{
    position:relative;
    height:100%;
    width:100%;
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}


#about h3, #about p{
    line-height:initial;
    margin:1em;
}

#about p{
    font-weight:300;
    color:#666;
    margin:0 auto;
    width:70%;
}

#shape-controls{
    padding: 2rem 0 2rem 0;
}

#shape-controls a{
    margin:0 1%;
}

#cat-mapContainer{
    height:800px;
    overflow:hidden;
}

#about h2{
    padding-top:3rem;
    position:relative;
}


footer{
    height: 100%;
    width:100%;
    background:#EE352A;
    color:white;
    font-size:1rem;
    letter-spacing:0.27px;
    text-align:center;
    padding-bottom:1rem;
    margin-top:2rem;
}

footer ul, li{
    display:inline-block;
    font-size:1rem;
}

footer p{
    font-size:1rem;
    line-height:normal
}

footer a{
    margin:0 .5rem;
    font-size:1rem;
}

footer li:after{
    content:"|";
}

#footerLink li:nth-child(4):after{
    content:none;
}


.upArrow{
    height:2.2rem;
    width:2.2rem;
    margin:0 auto;
    border: 1px solid #EE352A;
    border-bottom:0;
    border-right:0;
    -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
            -transform:rotate(45deg);
    -webkit-transition:all .3s ease-in;
        -moz-transition:all .3s ease-in;
            transition:all .3s ease-in;
}

.upArrow:hover{
    border-color:#666666;
    -webkit-transition:all .3s ease-out;
        -moz-transition:all .3s ease-out;
            transition:all .3s ease-out;
}

.downArrow{
    height:2.2rem;
    width:2.2rem;
    margin:0 auto;
    border: 1px solid #EE352A;
    border-top:0;
    border-left:0;
    -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
            -transform:rotate(45deg);
    -webkit-transition:all .3s ease-in;
        -moz-transition:all .3s ease-in;
            transition:all .3s ease-in;
}

.downArrow:hover{
    border-color:#666666;
    -webkit-transition:all .3s ease-out;
        -moz-transition:all .3s ease-out;
            transition:all .3s ease-out;
}

.arrowContainer{
    margin:4rem auto;
    width:4rem;
}




/*--------------------------------MEDIA QUERIES--------------------------------*/


@media only screen and (min-width:315px) and (max-width:820px){
    #mobile-app{
        color:white;
        position:relative;
        float:inherit;
        top:inherit;
        margin:0;

    }

    .login-sign{
        float:inherit;
        margin: 0 auto;
}

@media only screen and (min-width:315px) and (max-width:610px){
    h1{
        font-size:4.5rem;
        line-height:6.2rem;
    }

    h3{
        font-size:1.8rem;
        line-height:4rem;
    }

    .button-1{
        margin:1.2 auto;
    }

    #about p{
    width:90%;
    }
    
    #cat-mapContainer{
    height:400px;
    }

}

@media only screen and (min-width:315px) and (max-width:440px){
    h1{
        font-size:2.5rem;
        line-height:3.2rem;
    }

    .button-1{
    max-width:18rem;
}
    
}
