<a class="button" href='<%=ResolveUrl("~/Admin/Users/Accounts/Add.aspx") %>'><i class="fa fa-plus"></i> ADD NEW</a>

<!--<h3 class="admin tabHeader">User List</h3>-->

<h4>Total Users: {{totalSize}}</h4>

<div class="input-item">
    <input type="text" ng-model="searchTerm" class="ng-elem" placeholder="Search Users" autofocus/>
    <label class="input-label">Search Users</label>
</div>

<table id="userContainer">
    <thead>
        <tr>
            <th ng-click="sort('Added')">Added<span class="{{Header[0]}} column-indicator"></span></th>
            <th ng-click="sort('LastName')">Name<span class="{{Header[1]}} column-indicator"></span></th>
            <th ng-click="sort('Email')">Email<span class="{{Header[2]}} column-indicator"></span></th>

            <th>Controls</th>
        </tr>
    </thead>

    <tbody>

        <tr ng-repeat="user in dataChunk">
            <td>{{user.Added}}</td>
            <td>{{user.LastName}}, {{user.FirstName}}</td>
            <td>{{user.Email}}</td>

            <td>
<!--                <a class="actions-link details" href="<%=ResolveUrl("~/Admin/RSVPs/RSVPs/UpdateUserRSVPs.aspx?userGuid={{user.Guid}} ")%>">RSVPs</a>-->
<!--                <a class="actions-link details" href="<%=ResolveUrl("~/Admin/Users/Accounts/Update.aspx?guid={{user.Guid}} ")%>">Details</a>-->
                <a class="actions-link details" ui-sref="details({guid: user.Guid})">Details</a>
<!--                <a class="actions-link delete" href="<%=ResolveUrl("~/Admin/Users/Accounts/Delete.aspx?guid={{user.Guid}} ")%>">Delete</a>-->
            </td>
        </tr>

    </tbody>

</table>
<div class="input-item">
    <pagination ng-model="currentPage" total-items="totalSize" items-per-page="numPerPage" max-size="maxSize" boundary-links="true"></pagination>
</div>