<a class="button" ui-sref='otherwise'><i class="fa fa-arrow-left"></i> GO BACK</a>

<!--
        <div class="form-section">
            <h3>Selected User</h3>
            <div class="formContainer">
                <div class="input-item">
                    <select id="dropDownEmails"></select>
                </div>
            </div>
        </div>
-->

<div class="form-section">
    <h3>Account Info</h3>

    <div class="formContainer">
        <div class="input-item">
            <input type="text" class="" placeholder="Id" value="{{userData.Id}}" required>
            <label class="input-label">ID</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="User Guid" value="{{userData.Guid}}" required>
            <label class="input-label">User GUID</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="User Name" value="{{userData.Username}}">
            <label class="input-label">Username</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Added" value="{{userData.Added}}" required>
            <label class="input-label">Added</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="API Key" value="{{userData.APIKey}}" required>
            <label class="input-label">API Key</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Activation Key" value="{{userData.ActivationKey}}" required>
            <label class="input-label">Activation Key</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Signup IP" value="{{userData.SignupIPAddress}}" required>
            <label class="input-label">Signup IP</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Last IP" value="{{userData.LastIPAddress}}" required>
            <label class="input-label">Last IP</label>
        </div>
        
        <code><p>Model</p> "Active": {{userData.Active | json}}</code>
                        
        <div class="input-item">
            <div id="parentActivatedContainer">
                <table id="activatedContainer" class="toggle-table settingsContainer">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Activated</td>
                            <td>
                                <div class="toggleWrapper">
                                    <input type="checkbox" id="isActive" class="checkbox" ng-model="userData.Active" ng-init="checked=userData.Active" ng-true-value="'True'" ng-false-value="'False'">
                                    <div id="toggleKnob"></div>
                                    <div></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="update" onclick="PostAccountData(); return false;"><span id="Span1"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Contact Info</h3>

    
    <code><p>Model</p> {{userData | json}}</code>


    <div class="formContainer">
        <div class="input-item">
            <input type="text" class="" placeholder="First Name" ng-model="userData.FirstName" required>
            <label class="input-label">First Name</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Last Name" ng-model="userData.LastName" required>
            <label class="input-label">Last Name</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Email" ng-model="userData.Email" required>
            <label class="input-label">Email</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Phone" ng-model="userData.Phone">
            <label class="input-label">Phone</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Website" ng-model="userData.Website">
            <label class="input-label">Website</label>
        </div>
        <div class="button-container">
            <button type="submit" class="update" onclick="PostContactData(); return false;"><span id="Span2"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Password</h3>
    <div class="formContainer">
        <div class="input-item">
            <input type="password" class="admin" placeholder="Password" id="txtPassword1" required>
            <label class="input-label">Password</label>
        </div>
        <div class="input-item">
            <input type="password" class="admin" placeholder="Password Confirm" id="txtPassword2" required>
            <label class="input-label">Password Confirm</label>
        </div>
        <div class="button-container">
            <button type="button" class="update" onclick="PostPasswordData(); return false;"><span id="Span5"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Mailing Info</h3>
    <div class="formContainer">
        <div class="input-item">
            <input type="text" class="" placeholder="Address" ng-model="userData.Address1">
            <label class="input-label">Address</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Address2" ng-model="userData.Address2">
            <label class="input-label">Address 2</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="City" ng-model="userData.City">
            <label class="input-label">City</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="State" ng-model="userData.State">
            <label class="input-label">State</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Zip Code" ng-model="userData.Zip">
            <label class="input-label">Zip Code</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Country" ng-model="userData.Country">
            <label class="input-label">Country</label>
        </div>
        <div class="button-container">
            <button type="submit" class="update" onclick="PostMailingData(); return false;"><span id="Span3"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Company Info</h3>
    <div class="formContainer">
        <div class="input-item">
            <input type="text" class="" placeholder="Organization" ng-model="userData.Organization">
            <label class="input-label">Organization</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Department" ng-model="userData.Department">
            <label class="input-label">Department</label>
        </div>
        <div class="input-item">
            <input type="text" class="" placeholder="Postition" ng-model="userData.Position">
            <label class="input-label">Position</label>
        </div>
        <div class="button-container">
            <button type="submit" class="update" onclick="PostCompanyData(); return false;"><span id="Span4"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Email Notifications</h3>
    
    <code><p>Model</p> "NotifyNewsUpdates": {{userData.NotifyNewsUpdates | json}}</code>
    
    <div id="parentNotificationContainer">
        <table id="notificationContainer" class="toggle-table settingsContainer">
            <thead>
                <tr>
                    <th>Email Type</th>
                    <th>Setting</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>News Updates</td>
                    <td>
                        <div class="toggleWrapper">
                            <input type="checkbox" id="chkNotifyNewsUpdates" class="checkbox" ng-model="userData.NotifyNewsUpdates" ng-init="checked=userData.NotifyNewsUpdates" ng-true-value="'True'" ng-false-value="'False'">
                            <div id="toggleKnob"></div>
                            <div></div>
                        </div>
                    </td>
                </tr>
<!-- UNUSED?
                <tr>
                    <td>Service Outages</td>
                    <td>
                        <div class="toggleWrapper">
                            <input type="checkbox" id="chkNotifyServiceOutages" class="checkbox">
                            <div id="toggleKnob"></div>
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Service Updates</td>
                    <td>
                        <div class="toggleWrapper">
                            <input type="checkbox" id="chkNotifyServiceUpdates" class="checkbox">
                            <div id="toggleKnob"></div>
                            <div></div>
                        </div>
                    </td>
                </tr>
-->
            </tbody>
        </table>
    </div>
</div>

<div class="form-section">
    <h3>Admin Level</h3>


    <code><p>Model</p> {{userLevel | json}}</code>


    <div class="formContainer input-item">
        <div>
            <select id="dropDownLevels" ng-model='userLevel.Level' ng-options="option.Name as option.Name for option in levelsList"></select>
        </div>
    </div>
</div>

<div class="form-section">
    <h3>Manager Roles</h3>
    
    <code><p>Model:</p>  {{userRoles | json}}</code>
    
    <div id="parentRolesContainer">
        <table id="rolesContainer" class="toggle-table settingsContainer">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Setting</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in rolesList | orderBy: 'Name'">
                    <td>{{item.Name}}</td>
                    <td>
                        <div class="toggleWrapper">
                            <input type="checkbox" class="checkbox" levelId="{{item.Id}}" name="{{item.Name}}" ng-checked="test(item)" ng-click="setModel(item)">
                            <div id="toggleKnob"></div>
                            <div></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- IS THIS EVEN USED???
<div class="form-section"> 
    <h3>Professor Status</h3>
    <div id="parentProfessorContainer">

        <div class="toggleWrapper">
            <input type="checkbox" id="chkIsProfessor" class="checkbox">
            <div id="toggleKnob"></div>
            <div></div>
        </div>
        <div class="button-container">
            <button type="submit" class="update" onclick="PostProfessorData(); return false;"><span id="Span6"><i class="fa fa-refresh fa-fw"></i> UPDATE</span>
            </button>
        </div>
    </div>
</div>-->
