.nametag-container {
  height: 252px;
  width: 173px;
  background-image: url(../img/base.svg);
  display: inline-block;
  margin: 1.5em;
  overflow: hidden;
  position: relative;
}
.first-name,
.last-name,
.rank,
.sales-pitch p {
  text-transform: uppercase;
}
.first-name,
.last-name,
.rank,
.sales-pitch {
  left: 50%;
  -webkit-transform: translate(-50%);
}
.first-name,
.last-name {
  font-family: NimbusSansT-BoldCondensed;
  font-size: 26pt;
  position: absolute;
  letter-spacing: 1px;
}
.first-name {
  top: 27%;
}
.last-name {
  top: 39%;
}
.rank {
  font-family: NimbusSansT-BoldCondensed;
  font-size: 10pt;
  position: absolute;
  top: 152px;
  letter-spacing: 3px;
  white-space: nowrap;
}
.sales-pitch {
  font-family: BebasNeue;
  font-size: 7pt;
  position: absolute;
  bottom: .5em;
  white-space: nowrap;
}
.sales-pitch p {
  position: relative;
  margin: .5em 0;
  text-align: center;
  letter-spacing: 2px;
}
