/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #333;
}
html {
  font-size: .95em;
  line-height: 1.4;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
ul.menu {
  float: right;
}
nav {
  position: relative;
}
nav li {
  display: inline-block;
  padding: .8em 0;
}
nav a {
  color: #333;
  text-decoration: none;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
nav a:hover {
  text-decoration: underline;
}
nav ul ul {
  z-index: -1;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul ul li {
  display: block;
  padding: 0 .2em;
  z-index: 1;
  position: relative;
}
nav li:hover > ul {
  opacity: 1;
  top: 2em;
  visibility: visible;
}
nav ul li:hover > i::before {
  color: #43BC9A;
}
nav ul li:hover > i {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.dropdown-menu li {
  padding-top: 0;
}
.dropdown-menu li:first-child a {
  padding-top: 1.8em;
}
.dropdown-menu li a {
  display: block;
  text-align: left;
  padding: .8em 1em;
}
.dropdown-menu li a:hover {
  color: #43BC9A;
}
.with-dropdown-icon {
  padding-right: .5em;
}
.fa.menu {
  padding-right: 1em;
}
.fa.duration::before {
  color: #43BC9A;
}
.fancyLink {
  text-decoration: none;
  color: #232323;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fancyLink:hover {
  color: #23A1D1;
}
.fancyLink::before {
  position: absolute;
  content: '[';
  left: 1em;
  opacity: 0;
  bottom: -4%;
  color: #23A1D1;
  box-sizing: border-box;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.fancyLink::after {
  position: absolute;
  content: ']';
  right: 1em;
  opacity: 0;
  bottom: -4%;
  color: #23A1D1;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.fancyLink:hover::before,
.fancyLink:focus::before {
  opacity: 1;
  left: -0.4em;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fancyLink:hover::after,
.fancyLink:focus::after {
  opacity: 1;
  right: -0.5em;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.white,
.white::before,
.white::after {
  color: #FFFFFF;
}
.title.logo {
  background-image: url(../img/logo-raster.png);
  background-image: url(../img/logo-vector.svg);
  height: 44px;
  width: 155px;
  background-size: contain;
}
.title.logo-mobile {
  height: 47px;
  width: 130px;
  background-size: contain;
  margin-left: .5em;
}
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bold {
  font-weight: bold;
}
.page-container {
  text-align: center;
}
header {
  position: relative;
  z-index: 1;
}
a {
  color: #3CADF1;
  text-decoration: none;
}
.hero-banner {
  height: 28em;
}
#wind-hero {
  background-image: url(../img/windhero.svg);
}
#shale-hero {
  background-image: url(../img/shalehero.svg);
}
#urban-ag-hero {
  background-image: url(../img/urbanaghero.svg);
}
.full {
  width: 100%;
}
.project-item svg {
  display: block;
  height: 10em;
  width: 10em;
  margin: 0 auto;
}
.process-item {
  margin: 0 5%;
}
.process-item img {
  display: block;
  height: 10em;
  width: 10em;
  margin: .5em auto 2em auto;
}
#process {
  background: #500000;
  color: white;
}
h1 {
  font-size: 2.25em;
  font-weight: 400;
}
h2 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
}
h3 {
  font-weight: 400;
  padding: .5em 0;
  font-size: 1.5em;
}
.backdrop {
  font-weight: 700;
  font-size: 2.18em;
  position: relative;
  color: #232323;
  z-index: 1;
}
.backdrop:before {
  position: absolute;
  content: attr(data);
  color: #FFFFFF;
  z-index: 0;
  -webkit-transform: translate(3px, 2px);
  -moz-transform: translate(3px, 2px);
  -o-transform: translate(3px, 2px);
  transform: translate(3px, 2px);
}
.content-container {
  padding: 2.5em 0;
}
#Blades_1_ {
  -webkit-transform-origin: 49% 66%;
  -moz-transform-origin: 49% 66%;
  -o-transform-origin: 49% 66%;
  transform-origin: 49% 66%;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -o-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#animation1:hover > svg > g > #Blades_1_ {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.spin 100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#animation2 > svg {
  -webkit-animation: gas 2s linear infinite;
  -moz-animation: gas 2s linear infinite;
  -o-animation: gas 2s linear infinite;
  animation: gas 2s linear infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#animation2:hover > svg {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
.gas 0% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.gas 50% {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}
.gas 100% {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@-webkit-keyframes gas {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes gas {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes gas {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes gas {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes gas {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#animation3 path,
#animation3 ellipse,
#animation3 polygon,
#animation3 circle {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#animation3 .flower {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
}
#animation3:hover #flower-left,
#animation3:hover #flower-center,
#animation3:hover #flower-right {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
#animation3 #flower-left {
  -webkit-animation: sway-left 5s ease infinite;
  -moz-animation: sway-left 5s ease infinite;
  -o-animation: sway-left 5s ease infinite;
  animation: sway-left 5s ease infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#animation3 #flower-center {
  -webkit-animation: sway-alternate 5s ease infinite;
  -moz-animation: sway-alternate 5s ease infinite;
  -o-animation: sway-alternate 5s ease infinite;
  animation: sway-alternate 5s ease infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#animation3 #flower-right {
  -webkit-animation: sway-right 5s ease infinite;
  -moz-animation: sway-right 5s ease infinite;
  -o-animation: sway-right 5s ease infinite;
  animation: sway-right 5s ease infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
#animation3:hover #pot {
  fill: #89725B;
}
#animation3:hover .center {
  fill: #FFD933;
}
#animation3:hover .petal {
  fill: #FF530D;
}
#animation3:hover .leaf {
  fill: #588F27;
}
#animation3:hover .stem {
  fill: #588F27;
}
.sway-left 50% {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.sway-right 50% {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.sway-alternate 25% {
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}
.sway-alternate 75% {
  -webkit-transform: rotate(1.5deg);
  -moz-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  transform: rotate(1.5deg);
}
@-webkit-keyframes sway-left {
  50% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@-moz-keyframes sway-left {
  50% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@-ms-keyframes sway-left {
  50% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@-o-keyframes sway-left {
  50% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@keyframes sway-left {
  50% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes sway-right {
  50% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@-moz-keyframes sway-right {
  50% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@-ms-keyframes sway-right {
  50% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@-o-keyframes sway-right {
  50% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@keyframes sway-right {
  50% {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@-webkit-keyframes sway-alternate {
  25% {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
}
@-moz-keyframes sway-alternate {
  25% {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
}
@-ms-keyframes sway-alternate {
  25% {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
}
@-o-keyframes sway-alternate {
  25% {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
}
@keyframes sway-alternate {
  25% {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
  }
  75% {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
  }
}
#animation4 > svg > g#backdrop {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#animation4:hover > svg > g#backdrop {
  opacity: 1;
}
#animation5 path {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#animation5:hover path#eiffel {
  fill: #B8AE9C;
}
#animation5:hover path#burj {
  fill: #B8AE9C;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
#animation5:hover path#taipei {
  fill: #B8AE9C;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#animation6 path,
#animation6 line {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#animation6:hover path#google-g {
  fill: #4385F5;
}
#animation6:hover g#group-a > line {
  stroke: #109D59;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#animation6:hover g#group-b > line {
  stroke: #DC4437;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#animation6:hover g#group-c > line {
  stroke: #FCBE1F;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
@media only screen and (max-width: 479px) {
  .desktop-navigation {
    display: none;
  }
  .page-container {
    position: relative;
    top: 3em;
  }
  .mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    background: #333;
    color: #FFFFFF;
    height: 3em;
    width: 100%;
    z-index: 10;
  }
  .mobile-navigation nav {
    position: absolute;
    right: -10em;
    background: #333;
    color: #FFFFFF;
    min-width: 10em;
    max-width: 10em;
    height: 100vh;
    overflow-y: auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .mobile-navigation nav li {
    display: block;
    padding: 0;
  }
  .mobile-navigation nav li:first-child a {
    text-align: center;
    font-size: 1.1em;
  }
  .mobile-navigation nav a {
    color: #FFFFFF;
    display: block;
    text-align: left;
    padding: .8em 1.5em;
  }
  .mobile-navigation nav a:hover {
    text-decoration: none;
  }
  .mobile-navigation nav ul ul {
    display: initial;
    position: initial;
    top: 0;
    visibility: initial;
    opacity: initial;
  }
  .menu-trigger {
    position: absolute;
    right: 0;
    height: 100%;
    width: 3em;
    opacity: 0;
    z-index: 1;
  }
  .menu-trigger:checked ~ nav {
    right: 0;
  }
  .menu-trigger:checked {
    right: 9.35em;
  }
  .menu-trigger:checked + .menu-icon {
    right: 6.85em;
  }
  .menu-icon {
    display: block;
    padding: .75em;
    position: absolute;
    right: 0;
    z-index: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
@media only screen and (min-width: 480px) {
  .mobile-navigation {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1160px) {
  .section-hero-banner {
    height: 22em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1160px) {
  .section-hero-banner {
    height: 17em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .section-hero-banner {
    height: 11em;
  }
}
@media only screen and (max-width: 479px) {
  .section-hero-banner {
    height: 8em;
  }
  .section-hero-banner nav a {
    padding-left: 0;
    padding-right: .6em;
  }
  .section-hero-banner .main-content:nth-child(2n) {
    background: #ff6;
  }
}
@media only screen and (min-width: 768px) {
  .main-menu-container {
    margin: 1.428em 0;
  }
}
@media only screen and (max-width: 767px) {
  section {
    margin-top: 1.5em;
  }
  header p {
    padding: .15em 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav a {
    padding-right: 1.0em;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
