<div class="small-partition">
    <div class="container12">
        <h1 class="center">Players &amp; Tribes</h1>
        <div class="card">
            <div class="table-scrollable">
                <table class="selectable sortable">
                    <thead>
                        <tr>
                            <th>Survivor Name</th>
                            <th>Steam Name</th>
                            <th>Level</th>
                            <th>Map</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in CenterPlayers" ui-sref="update({guid:project.Guid})">
                            <td class="flex flex-row align-center"><img src="{{player.AvatarUrl}}">{{player.CharacterName}}</td>
                            <td>{{player.SteamName}}</td>
                            <td>{{player.Level}}</td>
                            <td>The Center</td>
                        </tr>
                        <tr ng-repeat="player in ScorchedEarthPlayers" ui-sref="update({guid:project.Guid})">
                            <td class="flex flex-row align-center"><img src="{{player.AvatarUrl}}">{{player.CharacterName}}</td>
                            <td>{{player.SteamName}}</td>
                            <td>{{player.Level}}</td>
                            <td>Scorched Earth</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>