<div class="survivor-container flex flex-row">

    <div class="survivor flex flex-row" ng-repeat="item in centerSurvivors">
        <div class="level">{{item.Level}}</div>
        <div class="details">
            <p>{{item.CharacterName}}</p>
            <p>{{item.SteamName}}</p>
            <p>The Center</p>
        </div>
    </div>
    
    <div class="survivor flex flex-row" ng-repeat="item in scorchedEarthSurvivors">
        <div class="level">{{item.Level}}</div>
        <div class="details">
            <p>{{item.CharacterName}}</p>
            <p>{{item.SteamName}}</p>
            <p>Scorched Earth</p>
        </div>
    </div>
    
</div>