//-------------LESS MIXINS-------------

@maincolor:#ffcc00;
@secondcolor:#463d34;
@adminprimary: #3C3C3C;
@white: #ffffff;
@border: #DCDDDE;
@borderFocus:#d3d3d3;
@lato: 'Lato', sans-serif;
@opensans:'Open Sans', sans-serif;

.transform(@string){
    -webkit-transform:   @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
    transform:           @string;
}

.transform-origin (@string) {
	-webkit-transform-origin: @string;
	-moz-transform-origin:    @string;
	-ms-transform-origin:     @string;
	-o-transform-origin:      @string;
    transform-origin:         @string;
}

.animation (@string) {
	-webkit-animation: @string;  
	-moz-animation:    @string; 
	-o-animation:      @string;
    animation:         @string;
}

.transition (@string) {
	-webkit-transition: @string;  
	-moz-transition:    @string;
	-ms-transition:     @string; 
	-o-transition:      @string;
    transition:         @string;
}

.transition-multiple(@string, @string2){
    -webkit-transition: @string, @string2;  
	-moz-transition:    @string, @string2;
	-ms-transition:     @string, @string2; 
	-o-transition:      @string, @string2;
    transition:         @string, @string2;
}

.transition-prefix (@string) {
	-webkit-transition: -webkit-@string;  
	-moz-transition:    -moz-@string;
	-ms-transition:     -ms-@string; 
	-o-transition:      -o-@string;
    transition:         @string;
}

//-------------END LESS MIXINS-------------

@import url(reset.css);
@import url(component.css);

html {
  font-family: @lato;
  font-size: 62.5%;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: @secondcolor;
  -webkit-font-smoothing: antialiased;
}

.content {
  overflow-x: hidden !important;
}
h1 {
  font-family: @opensans;
    font-weight: 600;
}
h2 {
  font-family: @opensans;
  font-size: 3.2em;
  letter-spacing: 6px;
  color: @secondcolor;
  font-weight: 600;
}
h2 span {
  font-family: @lato;
  font-size: .6em;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  word-wrap: break-word;
  letter-spacing: 2px;
}
h3 {
  font-family: @opensans;
  font-weight: bold;
  font-size: 1.5em !important;
  letter-spacing: 2.3px;
  font-variant: small-caps;
  color: @secondcolor;
}
p,
li {
  font-size: .75em;
  line-height: 31px;
  letter-spacing: 1px;
}
article li {
  list-style: disc;
}
em {
  font-style: italic;
}
.fancyLink {
  text-decoration: none;
  color: rgb(10, 112, 230);
  display: inline-block;
  position: relative;
}
.fancyLink:before{
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: rgb(10, 112, 230);
  top: 90%;
  display: block;
  box-sizing: border-box; 
    .transition-prefix(transform .3s);
    .transform(scale(0));
}

.fancyLink:hover::before,
.fancyLink:focus::before {
  .transform(scale(1));
}
nav {
  padding: .4rem 0 .6rem 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  font-family: @opensans;
  font-weight: bold;
  font-size: .6em;
  letter-spacing: 1.8px;
  font-variant: small-caps;
  position: fixed;
  z-index: 1001;
  text-align: center;
  top: 0;
    .transition(bakcground .7s ease);
}

nav:hover{
    background: rgba(255, 255, 255,1);
    .transition(background .7s ease);
}

nav a {
    margin: 0 5%;
    display: inline-block;    
}
nav a {
  text-decoration: none;
  color: @secondcolor;
  padding: .2rem 1rem;
    .transition(all 0.2s linear);
}
nav a:hover {
  background-color: @maincolor;
    .transition(all 0.2s linear);
}
nav .active {
  color: @secondcolor;
  background-color: @maincolor;
}
.secondarynav {
  font-family: @lato;
  font-style: italic;
  font-size: .7em;
  width: 100%;
  position: relative;
  background: none;
  letter-spacing: 1.8px;
  font-variant: small-caps;
  opacity: .9;
}
.secondarynav a {
  margin: 0 0;
}
.title {
  background-repeat: no-repeat;
  background-position: center;
  height: 10em;
  top: 25%;
}
.title h1 {
  margin: 0 0;
  position: relative;
}

[id^="part"]{
    padding-right: 0;
}

#part1 {
  font-family: @opensans;
  font-size: .7em;
  font-weight: normal;
  letter-spacing: .075em;
  color: @white;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  left: .7em;
  bottom: 0.1em;
}
#part2 {
  font-family: @opensans;
  font-size: .7em;
  font-weight: normal;
  letter-spacing: .075em;
  color: @white;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  left: .7em;
  bottom: 0.1em;
  font-weight: bolder;
}
#part3 {
  font-family: @opensans;
  font-size: 1.4em;
  letter-spacing: .18em;
  color: @maincolor;
  font-weight: normal;
  position: relative;
  top: 0.71em;
  left: -4.4em;
}
#part4 {
  font-family: @opensans;
  font-weight: bold;
  font-size: .55em;
  letter-spacing: .075em;
  font-variant: small-caps;
  color: @secondcolor;
  background: @maincolor;
  position: relative;
  white-space: nowrap;
  top: 3em;
  left: -16.9em;
}
#bug {
  background-image: url(../images/genericbug-compressor.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  top: 8em;
  left: 9em;
  position: relative;
}
#snail {
//  background-image: url(../images/snail.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 3em;
  margin: 0 !important;
}

#snailbodyCombined{
    .animation(snailmail 3s infinite);
}

@-webkit-keyframes snailmail{
    0%,100%{
        .transform(skew(0deg, 0deg));
    }
    
    40%{
        .transform(skew(7deg, 0deg));
    }
    80%{
        .transform(skew(-2deg, 0deg));
    }
}

#telegraph {
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5em;
  margin: 0 !important;
}

#top {
    .transform-origin (100% 50%);
    .animation (telegraph 1.5s infinite);
}
@-webkit-keyframes telegraph {
  0%,
  15%,
  50%,
  70.5%,
  100% {
      .transform(rotate(0deg));
  }
  10%,
  35%,
  60%,
  80% {
      .transform(rotate(-6deg));
  }
}

@-moz-keyframes telegraph {
  0%,
  15%,
  50%,
  70.5%,
  100% {
    .transform(rotate(0deg));
  }
  10%,
  35%,
  60%,
  80% {
      .transform(rotate(0deg));
  }
}


@-o-keyframes telegraph {
  0%,
  15%,
  50%,
  70.5%,
  100% {
      .transform(rotate(0deg));
  }
  10%,
  35%,
  60%,
  80% {
      .transform(rotate(-6deg));
  }
}

@keyframes telegraph {
  0%,
  15%,
  50%,
  70.5%,
  100% {
      .transform(rotate(0deg));
  }
  10%,
  35%,
  60%,
  80% {
      .transform(rotate(-6deg));
  }
}

.two,
.three,
.four {
  margin: 2rem 1rem;
  text-align: left;
  overflow: hidden;
}
.section {
  margin: 4rem auto;
}
.sectionTitle {
  width: 100%;
  overflow: hidden;
}
.sectionDesc {
  padding: .5rem 0;
}
.subsectionTitle {
  text-align: center;
  padding: 1.5rem 0;
}
.subline {
  top: 12em;
  position: absolute;
}
#speciesShowcase {
  height: 100%;
  width: 12rem;
  padding: 1rem 0 0 0;
  float: left;
}
#speciesShowcase .specimenCapsule {
  height: 4.5rem;
  width: 100%;
  display: block;
  padding: .5rem 0 .5rem 0;
}
#speciesShowcase .specimenImage img {
  height: 4.5em;
  background-size: 80%;
  background-repeat: no-repeat;
}
#speciesShowcase .specimenName {
  font-style: italic;
  font-size: .75em;
  position: relative;
  left: 4.3rem;
  bottom: 2.5rem;
}
#speciesinfo {
  padding-top: 2rem;
}
#speciesinfo article {
  position: relative;
  left: 2em;
  padding-right: 2.5em;
}
#kissingbugmap {
  min-height: 60%;
}


.qacontainer {
  margin-bottom: 1.5rem;
}
.question {
  font-family: @lato;
  font-weight: 600;
  letter-spacing: 1px;
  color: @secondcolor;
}
.answer {
  font-family: @lato;
  letter-spacing: 1px;
  color: @secondcolor;
  border-left: 3px solid @maincolor;
  margin-left: .5em !important;
  padding-left: .5em;
}
input,
textarea {
  border: 1px solid @maincolor;
  border-radius: 2px;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  color: @secondcolor;
  font-size: .75em;
  font-family: @lato;
  margin: .7rem 0;
}
input:focus,
textarea:focus {
  outline: 3px solid #c6bdb3;
  outline-style: solid;
  border-color: @white;
}
input[type="submit"],
input[type="button"],
button {
  margin: 0 24.5%;
  text-align: center;
  width: 50%;
  border: 0;
  background: @maincolor;
  color: @secondcolor;
  font-family: @lato;
  font-size: .75em;
  padding: .5rem 0;
    .transition(all 0.3s linear);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: @secondcolor;
  color: @maincolor;
    .transition(all 0.3s linear);
}
#alternatecontact {
  text-align: center;
}
#alternatecontact div {
  margin: 2rem 0;
}
#alternatecontact div p {
  line-height: .9em;
}
#smallfooter {
  bottom: -3.5rem;
  font-size: .7em;
  font-family: @opensans;
  position: relative;
  text-align: center;
}
.half {
  width: 49%;
  display: inline-table;
}
.image-link {
  display: block;
  height: 100%;
  width: 100%;
}
.arrowContainer {
  margin: 4rem auto;
}
.arrowContainer :before {
  content: attr(title);
}
.downArrow {
  height: 1.0rem;
  width: 1.0rem;
  margin: 0 auto;
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
    .transform(rotate(45deg));
    .transition(all 150ms linear);
}
.downArrow:hover {
  border-color: @maincolor;
    .transition(all 150ms linear);
}
.upArrow {
  height: 1.0rem;
  width: 1.0rem;
  margin: 0 auto;
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
    .transform(rotate(225deg));
    .transition(all 150ms linear);
}
.upArrow:hover {
  border-color: @maincolor;
    .transition(all 150ms linear);
}

.floating-label-form-group label {
    display: block;
    position: relative;
    opacity: 0;
    z-index: 0;
    font-size: .75em;
    color: #c6bdb3;
    vertical-align: middle;
    text-align: center;
    vertical-align: baseline;
    margin: 0;
    .transition-multiple(top 300ms ease, opacity 300ms ease);
}

.floating-label-form-group {
//  border-left: 1px solid #ccc;
//  padding-left: 14px;
   
}


.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #c6bdb3;
}

form .row:first-child .floating-label-form-group {
  /*border-top: 1px solid #ccc;*/
}

@-moz-document url-prefix(){
    #kissingbugmap{
        height: 20em;
    }
    

    article li {
        margin-left: 1em;
    }   

}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERIES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>




@media screen and (max-width: 1050px) {
  
    .titleFormat {
    padding: 1em 1em !important;
  }
    
  .contentFormat {
    padding: 2em 1em;
  }
    
  .menuContainer {
    padding: 0 .5em;
  }
    
  .tabs label {
    padding: .3em 3em;
  }
    
  .tabs {
    padding-left: 5%;
  }
    
}

@media screen and (max-width: 800px) {
  
    .content > div:not(.title) {
    padding: 0 1em;
  }
    
  #form {
    width: 100%;
  }
    
  #alternatecontact {
    width: 100%;
    margin: 0 auto;
  }
    
  .tabs label {
    padding: .3em 2em !important;
  }
    
    #rolesContainer{
        width: 100% !important;
    }
}

@media screen and (max-width:571px){
    
    .tabs{
        position: relative;
        padding-left: 0;
    }
    
    .tabs li{
        text-align: left;
        margin: inherit;
        display: list-item;
        margin: 0;
    }
    
    .tabs label{
        border-left: 5px solid #898989;
        border-radius: 0;
        margin-left: .5em;
    }
    
    [id^=tab]:checked + label{
        border: none;
        border-radius: 0;
    }
    
    #tab1:checked + label{
        border-left: 5px solid #43BC9A;
    }
    
    #tab2:checked + label{
        border-left: 5px solid #ECC300;
    }
    
    #tab3:checked + label{
        border-left: 5px solid #9758B7;
    }
    
    #tab4:checked + label{
        border-left: 5px solid #3CADF1;
    }
    
    .tabs label{
        padding:.3em 0;
    }
    .tab-content{
        border-top: none;
        top: 11em;
    }
    
    .contentFormat{
        padding-top: 0;
    }
}

@media screen and (max-width: 546px) {
  #speciesShowcase {
    width: 100%;
  }
  #mainnav {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  p,
  .question,
  li,
  .floating-label-form-group label,
  input,
  button {
    font-size: 1.3em;
  }
    
  #speciesShowcase .specimenName {
    font-size: 1.3em;
  }
  .title {
    font-size: 60%;
    top: 2em;
  }
  #bug {
    top: 0;
    left: -0.3rem;
  }
  button.trigger {
    bottom: 40px;
  }
  .section {
    padding: 0 1em !important;
  }
  .secondarynav {
    font-size: 1em;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .title {
    top: -3.5em;
  }
  button.trigger {
    bottom: 0;
  }
}

//<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MEDIA QUERIES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<







