<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#2379B5" />
    <title>HIDP Projector Output Comparison</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!--    IMPORT ANGULAR-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.5/angular-filter.min.js"></script>
</head>

<body class="full-flex-height-container" ng-app="mainApp" ng-controller="mainController">
    <header>
        <h1>HIDP Projector Output Comparison</h1>

        <div class="image-controls">
            <div id="manual-exposure">
                <h3>Manual Exposure</h3>
                <div class="controls">
                   <i>value: {{exposure}}</i>
                    <i class="zmdi zmdi-neg-1 zmdi-hc-lg" alt="Decrease Exposure by 1 Step" id="minus" title="Decrease Exposure by 1 Step"></i>
                    <i class="zmdi zmdi-plus-1 zmdi-hc-lg" alt="Incrase Exposure by 1 Step" id="plus" title="Incrase Exposure by 1 Step"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="container double flex flex-column">
        <div class="child flex flex-column">
            <select ng-model="selected" ng-change="load(selected)">
                <option value="3G_TL">3G Tl</option>
                <option value="4G_TL_Replica">4G TL Replica</option>
                <option value="Mini_H4">Chinese Mini H4</option>
                <option value="Corolla_LED">Corolla LED</option>
                <option value="E46">E46</option>
                <option value="E55">E55</option>
                <option value="FX35">FX35</option>
                <option value="Fusion_Fog_Halogen">Fusion Fog, Halogen Bulb</option>
                <option value="Fusion_Fog_HID">Fusion Fog, HID Bulb</option>
                <option value="G37_Coupe">G37 Coupe</option>
                <option value="G37_Sedan">G37 Sedan</option>
                <option value="Generic_MH1">Generic MH1</option>
                <option value="Koito_Bi-LED">Koito Bi-LED</option>
                <option value="LS430_Left">LS430 Left</option>
                <option value="LS460_Right">LS460 Right</option>
                <option value="M45">M45</option>
                <option value="Maxima-RX330_Non_AFS">Maxima/RX330 Non-AFS</option>
                <option value="Morimoto_Type_U_Fog">Morimoto Type U Fog</option>
                <option value="Morimoto_EVOX-R">Morimoto EVOX-R</option>
                <option value="Morimoto_FX-R_3.0_3">Morimoto FX-R 3.0 3"</option>
                <option value="Morimoto_Matchbox">Morimoto Matchbox</option>
                <option value="Morimoto_MD2S_3.0">Morimoto Mini D2S 3.0</option>
                <option value="Morimoto_MH1_7.0">Morimoto Mini H1 7.0</option>
                <option value="Murano_H11_3_Halogen">Murano H11 3" Halogen Bulb</option>
                <option value="Murano_H11_3_PnP_HID">Murano H11 3" PnP HID Bulb</option>
                <option value="Murano_HID_Step">Murano HID Step</option>
                <option value="Murano_LED_High_Reflector">Murano LED Low Beam + High Beam Reflector</option>
                <option value="Q45">Q45</option>
                <option value="RX330_AFS">RX330 AFS</option>
                <option value="RX350_Low_Beam_US">RX350 Low Beam US Shield</option>
                <option value="RX350-BiX-EU">RX350 Bi-Xenon EU Shield</option>
                <option value="S2000_ImagioX1_Tuned">S2000 (Modded and Tuned by ImagioX1</option>
                <option value="TSX">TSX</option>
            </select>
            <div class="image-container flex align-items-center justify-content-center">
                <p>There's nothing here Jim.</p>
            </div>
        </div>
        <div class="child flex flex-column">
            <select ng-model="selected" ng-change="load(selected)">
                <option value="3G_TL">3G Tl</option>
                <option value="4G_TL_Replica">4G TL Replica</option>
                <option value="Mini_H4">Chinese Mini H4</option>
                <option value="Corolla_LED">Corolla LED</option>
                <option value="E46">E46</option>
                <option value="E55">E55</option>
                <option value="FX35">FX35</option>
                <option value="Fusion_Fog_Halogen">Fusion Fog, Halogen Bulb</option>
                <option value="Fusion_Fog_HID">Fusion Fog, HID Bulb</option>
                <option value="G37_Coupe">G37 Coupe</option>
                <option value="G37_Sedan">G37 Sedan</option>
                <option value="Generic_MH1">Generic MH1</option>
                <option value="Koito_Bi-LED">Koito Bi-LED</option>
                <option value="LS430_Left">LS430 Left</option>
                <option value="LS460_Right">LS460 Right</option>
                <option value="M45">M45</option>
                <option value="Maxima-RX330_Non_AFS">Maxima/RX330 Non-AFS</option>
                <option value="Morimoto_Type_U_Fog">Morimoto Type U Fog</option>
                <option value="Morimoto_EVOX-R">Morimoto EVOX-R</option>
                <option value="Morimoto_FX-R_3.0_3">Morimoto FX-R 3.0 3"</option>
                <option value="Morimoto_Matchbox">Morimoto Matchbox</option>
                <option value="Morimoto_MD2S_3.0">Morimoto Mini D2S 3.0</option>
                <option value="Morimoto_MH1_7.0">Morimoto Mini H1 7.0</option>
                <option value="Murano_H11_3_Halogen">Murano H11 3" Halogen Bulb</option>
                <option value="Murano_H11_3_PnP_HID">Murano H11 3" PnP HID Bulb</option>
                <option value="Murano_HID_Step">Murano HID Step</option>
                <option value="Murano_LED_High_Reflector">Murano LED Low Beam + High Beam Reflector</option>
                <option value="Q45">Q45</option>
                <option value="RX330_AFS">RX330 AFS</option>
                <option value="RX350_Low_Beam_US">RX350 Low Beam US Shield</option>
                <option value="RX350-BiX-EU">RX350 Bi-Xenon EU Shield</option>
                <option value="S2000_ImagioX1_Tuned">S2000 (Modded and Tuned by ImagioX1</option>
                <option value="TSX">TSX</option>
            </select>
            <div class="image-container flex align-items-center justify-content-center">
                <p>There's nothing here Jim.</p>
            </div>
        </div>

    </div>

    <!--    Modules    -->
    <script src="./js/angular/apps/mainApp.js"></script>

    <!--    Controllers    -->
    <script src="./js/angular/controllers/mainController.js"></script>

    <!--    Services    -->

    <!--    Directives    -->
</body>

</html>